/* src/components/Home.css */

.home-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px; /* Mengurangi padding atas */
}

h1, p {
    max-width: 1200px; /* Atur lebar maksimum agar nyaman dibaca */
    text-align: justify; /* Rata kanan dan kiri */
    line-height: 1.6; /* Tinggi garis untuk kenyamanan membaca */
    margin: 0 auto 20px; /* Margin bawah untuk memberikan spasi antar elemen */
    padding: 0 10px; /* Padding untuk memberi sedikit ruang di sisi kanan-kiri */
}

h1 {
    margin-top: -100px; /* Mengurangi jarak atas untuk heading */
}

/* Media query untuk perangkat dengan lebar layar kurang dari 768px */
@media (max-width: 768px) {
    h1, p {
        max-width: 100%; /* Lebar penuh pada perangkat mobile */
        padding: 0 5px; /* Padding lebih kecil pada perangkat mobile */
    }

    h1 {
        margin-top: 0; /* Atur margin atas heading untuk tampilan mobile */
    }
}

.logout-icon-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
  
.logout-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

.logout-icon:hover {
    transform: scale(1.1);
}
